<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>欢迎来到{{room.name}}聊天室</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li ng-repeat="message in room.messages track by $index">
                        <img ng-src="{{message.user.avatar}}" alt="">
                        {{message.user.email}}:
                        {{message.content}}
                        <span class="pull-right">{{message.createAt}}</span>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <textarea key-down="send()" class="form-control" ng-model="content" name="content" id="content" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>在线人数</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li ng-repeat="user in room.users track by $index">
                        <img ng-src="user.avatar" alt="">
                        {{user.email}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>